<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>
<section class="contain-cards">
<% for (bag of bags) {%>
    <article class="cards">
        <img src="<%=bag.img%>">
        <h4><%=bag.name%></h4>
        <p><%=bag.size%></p>
        <p><%=bag.description%></p>
        <a href="/bag/<%=bag.id%>" class="btn">Voir</a>
    </article>
    
    <%}%>
</section>


<%- include('./includes/footer.ejs') %>